:root {
    --primary-color: #007bff;
    --secondary-color: #dc3545;
    --background-color: #fff;
    --border-color: #ccc;
    --header-bg-color: #e9ecef;
    --text-color: #444;
    --hover-opacity: 0.85;
    --font-family: 'Arial', sans-serif;
    --radius: 8px;
    --transition: 0.3s ease;
    --shadow-light: rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px var(--shadow-light);
    margin: 20px;
    max-width: 1500px;
    border-radius: var(--radius);
    margin-bottom: 30px;
    border: 1px solid #E5E7EB;
    align-content: center;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

h1, h2 {
    color: var(--text-color);
    padding-bottom: 15px;
    margin-bottom: 25px;
    text-align: center;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

.dashboard-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.dashboard-stats div {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    padding: 25px;
    border-radius: var(--radius);
    text-align: center;
    flex: 1;
    margin: 0 15px;
    transition: background-color var(--transition);
}

.dashboard-stats div:hover {
    background-color: #d6d9db;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

table, th, td {
    border: 1px solid var(--border-color);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--header-bg-color);
}

.role-select,
.user-logs-select,
.user-sessions-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
}

.delete-button,
.save-button,
.add-button,
.view-logs-button,
.view-sessions-button {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: var(--radius);
    transition: opacity var(--transition);
    font-size: 16px;
    margin-right: 12px;
}

.save-button,
.add-button,
.view-logs-button,
.view-sessions-button {
    background-color: var(--primary-color);
}

.delete-button:hover,
.save-button:hover,
.add-button:hover,
.view-logs-button:hover,
.view-sessions-button:hover {
    opacity: var(--hover-opacity);
}

.category-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.category-form input {
    flex: 1;
    padding: 12px;
    margin-right: 12px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    font-size: 16px;
    transition: border-color var(--transition);
}

.category-form input:focus {
    border-color: var(--primary-color);
}