.filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.filters button {
    text-decoration: none;
}

.filters button {
    padding: 8px 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.filters .new {
    background-color: #3B82F6;
    color: #FFFFFF;
}

.filters button:hover {
    background-color: #2563EB;
    color: #FFFFFF;
}

.post {
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.post-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #1F2937;
}


.post-info h4 {
    margin: 0;
    font-size: 13px;
}

.post-body h4 {
    font-size: 16px;
    color: #374151;
    margin-top: 15px;
}

.post-categories {
    margin-top: 10px;
    display: inline;
}

.post-categories button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    transition: color 0.3s ease;
}

.category-box {
    display: inline-block;
    background-color: #E5E7EB;
    color: #374151;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.category-box:hover {
    background-color: #D1D5DB;
}

.post-actions {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    font-size: 14px;
    color: #6B7280;
    align-items: center;
    position: relative;
}

.post-actions button,
.post-actions a {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
    color: inherit;
    transition: color 0.3s ease;
    text-decoration: none;
}

.post-actions button:hover,
.post-actions a:hover {
    color: #3B82F6;
}

.post-actions time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.8em;
    color: #888;
}

.hover-effect {
    cursor: pointer;
    transition: color 0.3s ease;
}

.hover-effect:hover {
    color: #007bff; 
}