body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

header {
    background-color: #FFFFFF;
    border-bottom: 2px solid #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.feed {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    margin-top: 10px;
}

.feed-container {
    display: flex;
    flex: 1;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1px;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.logo-container:hover {
    opacity: 0.8;
}

.logo-container img {
    width: 60px;
    height: 60px;
}

.logo-container span {
    font-size: 18px;
    color: #1F2937;
    letter-spacing: 0.5px;
}

.logo-container span:first-child {
    font-weight: 400;
}

.logo-container span:last-child {
    font-weight: 800;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-actions a,
.user-actions .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.user-actions button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.user-actions button:hover {
    background-color: #2563EB;
    color: white;
    transform: translateY(-2px);
}

.register {
    background-color: #3B82F6;
    color: white;
    border: none;
    cursor: pointer;
}

.register:hover {
    background-color: #2563EB;
}

.login {
    background-color: #E5E7EB;
    color: #1F2937;
}

.login:hover {
    background-color: #D1D5DB;
}

main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 20px;
    width: 260px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    position: sticky;
    margin-left: 20px;
    top: 20px;
    bottom: 60px;
    margin-top: 20px;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    margin-bottom: 20px;
}

.sidebar button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    transition: color 0.3s ease;
}

.sidebar nav {
    margin-bottom: 20px;
}

.sidebar nav h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #1F2937;
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 5px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar nav ul li button {
    text-decoration: none;
    font-size: 16px;
    color: #1F2937;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar nav ul li button:hover {
    background-color: #3B82F6;
    color: #FFFFFF;
    transform: translateY(-2px);
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #F3F4F6;
    color: #374151;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.search-container:hover {
    background-color: #E5E7EB;
}

.search-container i {
    font-size: 18px;
}

.search-container span {
    font-size: 16px;
    font-weight: 500;
    color: #374151;
}

.search-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0;
    opacity: 0;
    padding: 10px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #374151;
    font-size: 16px;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.search-container:hover .search-bar,
.search-bar:focus {
    width: calc(100% - 20px);
    opacity: 1;
}

.search-bar:focus {
    outline: none;
    border-color: #3B82F6;
}

.menu-heading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #1F2937;
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 5px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 1px;
    margin-top: auto;
}

.social-link {
    color: #1F2937;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-link:hover {
    color: #3B82F6;
    transform: translateY(-2px);
}

.rights {
    text-align: center;
    padding: 0px 0;
    color: #6B7280;
    font-size: 14px;
}

.sidebar-rights {
    position: fixed;
    bottom: 30px;
    left: 20px;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 20px;
    width: 260px;
    height: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-height: 200px;
    overflow: hidden;
}

.sidebar-rights img {
    width: 40px;
    height: 40px;
}

.filters button.selected,
.sidebar nav ul li button.selected {
    background-color: #3B82F6;
    color: #FFFFFF;
    padding: 10px 20px;
}

.selected {
    display: block;
    width: 100%;
    font-weight: bold;
    color: #3B82F6;
}

p {
    margin: 0;
    text-align-last: center;
}