:root {
    --primary-color: #007bff;
    --secondary-colora: #dc3545;
    --background-color: #fff;
    --border-color: #ddd;
    --hover-opacity: 0.8;
    --font-family: 'Arial', sans-serif;
    --radius: 8px;
    --transition: 0.3s ease;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --text-color: #333;
    --table-bg-color: #f2f2f2;
}

main {
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px var(--shadow-light);
    margin: 20px;
    max-width: 1500px;
    border-radius: var(--radius);
    margin-bottom: 30px;
    border: 1px solid var(--border-color);
    align-content: center;
}

.container {
    max-width: 1500px;
}

h1, h2 {
    color: var(--text-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

.dashboard-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 15px; /* Added gap for better spacing */
}

.dashboard-stats div {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 20px;
    border-radius: var(--radius);
    text-align: center;
    flex: 1;
    margin: 0 10px;
    transition: background-color var(--transition), transform var(--transition);
}

.dashboard-stats div:hover {
    background-color: #0056b3;
    transform: translateY(-5px); /* Added hover effect */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px var(--shadow-light); /* Added shadow for better visibility */
}

table, th, td {
    border: 1px solid var(--border-color);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--table-bg-color);
    font-weight: bold; /* Added bold font for headers */
}

tr:hover {
    background-color: #f9f9f9;
}

.delete-button,
.report-button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--radius);
    margin-right: 5px;
    transition: opacity var(--transition), transform var(--transition);
}

.delete-button {
    background-color: var(--secondary-colora);
    color: var(--background-color);
}

.report-button {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.delete-button:hover,
.report-button:hover {
    opacity: var(--hover-opacity);
    transform: translateY(-2px);
}

.category-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.category-form input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    font-size: 16px;
    transition: border-color var(--transition);
}

.category-form input:focus {
    border-color: var(--primary-color);
    outline: none;
}