<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Internal Server Error</title>
    <link rel="stylesheet" type="text/css" href="/Static/style.css">
    
</head>
<body>
    <header>
        <div class="logo">MyReddit</div>
    </header>
    <main class="login-page">
        <div class="login-container">
            <h2>Error</h2>
            <h1 class="error">000 - Error description</h1>
            <p>Oops! Something went wrong on our end.</p>
            <p class="message">Please try again later </p>
            
        </div>
    
    </main>

    <footer>
        <p>&copy; 2024 MyReddit. All rights reserved.</p>
    </footer>
</body>
</html>
