<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Code}} | {{.ErrorMsg}}</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/logowhite.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/error.css">

</head>

<body>
    <header>
        <a href="/" class="logo-container">
            <img src="/static/assets/logo.png" alt="Connect Hub Logo">
            <span>Connect</span><span>Hub</span>
        </a>
    </header>

    <main>
        <div class="error-content">
            <img src="/static/assets/error.png" alt="Error Icon">
            <h1>{{.Code}}</h1>
            <h2>{{.ErrorMsg}}</h2>
            <p>Oops! Something went wrong.</p>
            <a href="/" class="home-button">
                <i class="fas fa-home"></i> Back to Homepage
            </a>
        </div>
    </main>

    <footer>
        <p>© 2024 ConnectHub | All rights reserved.</p>
    </footer>
</body>

</html>